<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hsiung.androidlearn">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NoActionBar">
        <activity android:name=".ui.ProgressActivity"></activity>
        <activity android:name=".ui.AlertDialogActivity" />
        <activity android:name=".ui.ToastActivity" />
        <activity android:name=".ui.WebViewActivity" />
        <activity android:name=".ui.recyclerview.WaterfallsFlowRecyclerViewActivity" />
        <activity android:name=".ui.recyclerview.GridRecyclerViewActivity" />
        <activity android:name=".ui.recyclerview.HorizontalRecyclerViewActivity" />
        <activity android:name=".ui.recyclerview.LinearRecyclerViewActivity" />
        <activity android:name=".ui.recyclerview.RecyclerViewActivity" />
        <activity android:name=".ui.gridview.GridViewActivity" />
        <activity android:name=".ui.listview.ListViewActivity" />
        <activity android:name=".ui.ImageViewActivity" />
        <activity android:name=".ui.CheckBoxActivity" />
        <activity android:name=".ui.RadioButtonActivity" />
        <activity android:name=".ui.EditTextActivity" />
        <activity android:name=".ui.ButtonActivity" />
        <activity android:name=".ui.TextViewActivity" />
        <activity android:name=".HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>